# fly.toml app configuration file generated for little-grape-review on 2026-01-16T15:17:40-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'little-grape-review'
primary_region = 'ams'

[build]
  image = 'ubuntu:noble-20251013'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
